:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0f1626;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #ff533d;
  text-decoration: inherit;
}
a:hover {
  color: #f5f5f5;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #ff533d;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.profile-picture {
  max-width: 25%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.about-me-text {
  text-align: center;
  margin: 60px;
}

.about-me-title {
  text-align: center;
  font-size: 40px;
}

.footer-links {
  background-color: black;
  display: flex;
  justify-content: space-around;
  padding: 1em 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.header-style {
  background-color: #ab987a;
  color: black;
  padding: 20px;
}

.project-links {
  display: flex;
  justify-content: left;
  gap: 60px;
  padding: 10px 0;
  margin-bottom: 60px;
}

.contact-container {
  margin-bottom: 100px;
}

.contact-container form div {
  margin-bottom: 1em;
}

.contact-container form input {
  width: 30%;
  padding: 0.5em;
  font-size: 1em;
  margin: 10px;
}

.contact-container form textarea {
  width: 50%;
  padding: 1em;
  font-size: 1.2em;
  height: 200px;
}

.contact-container form label {
  font-size: 1.2em;
}

.project-image {
  width: 50%;
  max-width: 500px;
  height: auto;
}
